*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 70px;
    background-color: black;
    margin: auto; 
    position: fixed;
    z-index: 1;

}
h2{
    font-size: 50px;
}
.logo{
    text-align: left;
    font-style: oblique;
    color: white;
    margin-left: 50px;
    padding-left: 20px;
    font-size: arial;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    height: 100px;
    float: left;
}
ul{

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
ul li{
    margin-left: 40px;

    margin-top: 20px;
    font-size: 12px;
    list-style: none;

}
ul li a{
    text-decoration:none ;
    color:white;
    font-family: Arial;

}
ul li a:hover{
    color: blue;
}

.box{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    padding-top: 50px;
}
.text{
    margin-top: 120px;
    width: 70%;
    margin-top: 3%;

}
h1{
    height: inherit;
    width: inherit;
    margin-bottom: 25px;
    font-size: 80px;
}
.div{
    width: 100%;
    border: 4px white;
    padding: 50px;
    border-radius: 6px;
    margin-top: 10px;
}
.right{
    width: 45%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.right img{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 100%;
}
.blur-layer{
    position: absolute;
    bottom: 0;
    width: 33%;
    height: 20%;
    background: rgba(255,255, 255, 0.6);
    backdrop-filter: blur(10px);
    border: none;
    border-radius:50px;
    margin-bottom: 0px;
    overflow: hidden; 

}
.p{
    position: absolute;
    bottom: 50px;
    left: 900px;
    font-size: 20px;
    font-weight: bold;
    color: azure;
}
.schedule{
    position: absolute;
    bottom: 50px;
    right: 100px;
    padding: 5px 10px;
    background: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    color: black;
    box-shadow: 2px 2px 10px black;
}
.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.padding{
    margin: 100px;
}
.card{
    height: 200px;
    width: 300px;
    border: 2px solid black;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: left;
    line-height: 15px;
    text-align: center;
}
.left1{
   
    margin-left: 100px;
    margin-top: 150px;
}
.right1 img{
    width: 600px;
    /* height:400px ; */
    border-radius: 20px;
    /* margin-top: 100px; */
    /* margin-bottom: 500px; */
  
}


.login
{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 60px;
}
.left2{
    width: 33%;
    background-color: rgb(114, 184, 186);
    padding: 15px;
}
.center img{
    width: 200px;
    height: 280px;
    background-color:  rgb(114, 184, 186);


}
.reserve{
    display: flex;
    margin-left: 20px;

}
.right2{
    margin-top: 10px;
    margin-left: 10%;
}
.login1{
    display: flex;
    justify-content: space-around;
}
.left3 img{
    width: 80%;
    margin-left: 20px;
    

}
.login2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
   
}
.right4 img{
    width:220px;
    height: 100px;
}
.login3{
    display:flex ;
    margin-left: 20px;
    justify-content: center;
    gap: 100px;
    align-items: center;
}
.box1{
    width: 600px;
    border: 2px solid black;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;



}
footer{
    width: 100%;
    margin-bottom: 300px;
    padding-bottom: 500px;
    background-color: black;
    color: azure;
}
.footer{

    margin-left: 50px;
    line-height: 2.8;
    gap: 100px;
    margin-bottom: 50px;
    display: flex;
}

.icon1{
    margin-left: 150px;
}